{% extends "base.html" %}

{% block title %} {{ page_title }} {% endblock title %}

{% block styles %}
<style>
    .impressum ul {
        list-style-type: none;
        padding-left: 0px;
    }
    .impressum ul li {
        padding-bottom: 10px;
    }
    .impressum ul li span {
        float: left;
        width: 115px;
        font-weight: bold;
    }
</style>
{% endblock styles %}

{% block content %}
<br/>
<div class="row">
    <div class="col-md-12 col-lg-6 impressum">
        <h2>Legal information</h2>
        <br/>
        <ul>
            <li>
                <span class="dlabel">Name:</span>
                Null Development d.o.o.
            </li>
            <li>
                <span class="dlabel">Address:</span>
                Božidara Magovca 111
            </li>
            <li>
                <span class="dlabel">&nbsp;</span>
                10000 Zagreb
            </li>
            <li>
                <span class="dlabel">&nbsp;</span>
                Croatia
            </li>
            <li>
                <span class="dlabel">VAT ID:</span>
                HR41246805007
            </li>
            <li>
                <span class="dlabel">Company #:</span>
                080908448
            </li>
            <li>
                <span class="dlabel">IBAN:</span>
                HR7324020061100697096
            </li>
        </ul>
    </div>
    <div class="col-md-12 col-lg-6 impressum ">
        <h2>Pravni podaci</h2>
        <br/>
        <ul>
            <li>
                <span class="dlabel">Naziv:</span>
                Null Development d.o.o. za usluge
            </li>
            <li>
                <span class="dlabel">Adresa:</span>
                Božidara Magovca 111
            </li>
            <li>
                <span class="dlabel">&nbsp;</span>
                10000 Zagreb
            </li>
            <li>
                <span class="dlabel">&nbsp;</span>
                Hrvatska
            </li>
            <li>
                <span class="dlabel">OIB:</span>
                41246805007
            </li>
            <li>
                <span class="dlabel">MBS:</span>
                080908448
            </li>
            <li>
                <span class="dlabel">Broj računa:</span>
                HR7324020061100697096
            </li>
            <li>
                <span class="dlabel">&nbsp;</span>
                &nbsp;
            </li>
            <li>
                <span class="dlabel">Banka:</span>
                Erste banka Rijeka
            </li>
            <li>
                <span class="dlabel">Član društva:</span>
                Miro Svrtan
            </li>
            <li>
                Društvo je registrirano pri Trgovačkom sudu u Zagrebu.<br/>
                Temeljni kapital od 20.000 kn uplaćen u cijelosti
            </li>
        </ul>

    </div>
</div>

{% endblock content %}